body{background-color: #055254}
h1, h3, h5, h6, h2, h4 {
color: #F4E9BE;
font-family: "Playwrite NZ Basic", cursive;
}

body{color: #5FA09D;
font-family: "Playwrite NZ Basic", cursive;
text-align: left;
color: #5FA09D;
font-size: 15px;

li{display: table-row;
padding: 10px;
margin: 0;
border-style: solid;
border-width: 2px;
border-block: whitesmoke;
}

h1, h2 {
  font-family: "Playwrite NZ Basic", cursive;
  letter-spacing: 2px;
}

.playwrite-nz-basic-<uniquifier> {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav ul {
    list-style: none;          
    display: flex;             
}

nav a {
    color: white;             
    text-decoration: none;     
    font-weight: bold;
}
